{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

{{ partial "title-section.html" . }}

{{ $further_exploration := .Params.further_exploration }}

<section class="section is-medium main">
    <div class="container">
        <div class="content pattern">
            {{ .Content }}
        </div>

        <details class="content pattern related">
            <summary>References and Related Patterns</summary>
            <div class="related-content">
                {{ if $further_exploration }}
                    <h2>Further Exploration</h2>
                    {{ partial "references.html" . }}

                {{ end }}
            </div>
        </details>
    </div>

    {{ partial "sidebar.html" .}}
</section>



{{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
{{ end }}

{{ end }}