{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}


{{ if .Site.Params.info }}
    {{ partial "info.html" . }}
{{ end }}

{{ partial "comments.html" . }}

{{ if .Site.Params.mainContent }}
<section class="section is-medium" id="info">
    <div class="container">
        {{ $file := .Site.Params.mainContent | readFile }}
        {{ $title :=  index (findRE "^# .*" $file) 0}}
        {{ $title := replaceRE "^#" "" $title }}
        {{ $subtitle := replaceRE ".*:" "" $title }}
        {{ $title := replaceRE ":.*" "" $title }}
        {{ $file := replaceRE "^# .*" "" $file }}
        {{ $split := split $file "<!-- INTRO STOP --->" }}
        {{ $file := index $split 1 }}

        <div class="title-wrapper has-text-centered">
            <h1 class="title section-title">{{ $title }}</h1>
            <h2 class="subtitle section-title">{{ $subtitle }}</h2>
        </div>

        <div class="content pattern">
            {{ $file | markdownify }}
        </div>
    </div>
</section>
{{ end }}


{{ if .Site.Params.footer }}
{{ partial "footer.html" . }}
{{ end }}

{{ if .Site.Params.sidebar }}
{{ partial "sidebar.html" . }}
{{ end }}

{{ end }}